.dropdown-menu{ 
	margin-top:0px; -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); border:0 none; padding: 0;
	&:after{content:  " "; position: absolute; top:-9px; left: 15px; height: 10px; width: 10px; border-bottom: 10px solid #ffffff; border-left: 10px solid transparent;border-right: 10px solid transparent; }
	/*&:before{content:  " "; position: absolute; top:-10px; left: 15px; height: 10px; width: 10px; border-bottom: 10px solid #cccccc; border-left: 10px solid transparent;border-right: 10px solid transparent; }*/
	&.arrow-success{&:after{border-bottom: 10px solid $green;}}
	&.arrow-warning{&:after{border-bottom: 10px solid $yellow;}}
	&.arrow-primary{&:after{border-bottom: 10px solid $blue;}} 
	&.arrow-danger{&:after{border-bottom: 10px solid $red;}}
		
	&.dropdown-menu-right{
		&:after, &:before{ left:  auto !important; right: 15px !important;}
	}
	&.dropdown-menu-center{
	 	width: 200px; top: 100% !important; margin-top: 0px;  transform: none !important;
		&:after, &:before{ left:  50%; margin-left: -10px;}
	}
	&.mega{width: 300px; margin-left:-125px; }
	
	.dropdown-item{
		padding:10px 15px; font-size: 15px;		
		&:hover{ background: rgba($blue, 0.1); border-left: 3px solid $blue; padding-left: 12px; }
		&:active{ background: rgba($blue,1);  i{ color:#ffffff !important} }
	}
	
	&.dropdown-relative{ 
		display: block; z-index: 0; -webkit-box-shadow: 0 0 0 transparent;  -moz-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; position: relative; top: 0 !important; margin: 0; left: 0; width: 100%; max-width: none;
		&:before{ display: none} 
		&:after{ display: none}
	}
	
	&.bg-success, &.bg-warning,&.bg-danger,&.bg-primary, &.bg-secondary, &.bg-dark,&.gradient-success,&.gradient-warning,&.gradient-danger,&.gradient-primary,&.gradient-info,&.gradient-secondary{
		border: 0;
		.dropdown-item{
			&:hover{ 
				a{background: rgba($white, 0.1); border-left: 3px solid $white;}
			}
		}
		.userlist{
			.item{
				&:hover{ 
					background: rgba($white, 0.1); border-left: 3px solid $white;
				}
			}
		}
	}
	.media{
		color: #888888;
		h5{color: #000000}
		p{color: #888888}
		
	}
	a.text-dark:hover, a.text-dark:focus {
		color: #000000 !important;
	}
	.nav-tabs{
		.nav-item{
			.nav-link{color: #888888; &:hover, &:hover{ color: #000000}}
		}
	}
}

