//base colors 
$base-background: #ffffff;
$color-primary: #20263e;
$color-secondary: #8596ae;
$color-text: lighten($color-secondary,15%);

//card color
$cards-color: #f6fafa;

//sidebar colors 
$sidebar-background: #ffffff;
$sidebar-color1: #20263e;
$sidebar-color2: #8596ae;
$sidebar-color3: lighten($sidebar-color1, 15%);
$sidebarmenu-active: $blue;
$sidebarmenu-active-color: $white;

//header colors 
$header-background: #ffffff;
$header-fontcolor1: #000000;
$header-fontcolor2: #666666;
$header-fontcolor3: #999999;

//footer color
$footer-background:#8c999b;
$footer-color:lighten($footer-background, 35%);

//border color 
$border-color:#e9eff3;

//Gradiet colors
$gradient-success:#66cd2e;
$gradient-success2:#b2f755;

$gradient-danger: #ec4061;
$gradient-danger2: #ff7282;

$gradient-warning: #ffc049;
$gradient-warning2: #ffdc65;

$gradient-info: #8de0ff;
$gradient-info2: #94ffce;

$gradient-primary:#11a0f8;
$gradient-primary2:#8de9ff;

$gradient-secondary: $color-secondary;
$gradient-secondary2: #a2c2ef;


//width and heights
$sidebar-width: 270px;
$sidebar-small-width:100px;
$footer-height : 50px;
$header-height : 44px;
$header-height-md : 44px;
